{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="container-fluid mt-2 col-md-8">
    <h2>Bienvenue sur votre blog !</h2>
    <div class="card">
        <div class="card-header">List de Blog</div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles %}
                    <a class="col text-decoration-none" href="">
                        <div class="card h-100">
                            <img src="{{ asset(article.image) }}" class="card-img-top h-50" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark"> {{article.titre}} </h5>
                                <p class="card-text"> {{article.contenus |slice('0', '200') }} </p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <p>Aucun article a été trouvé.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
